/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html,
body {
  background-color: #f4f4f4;
}

/*CSS for Discover Page*/
.discoverPage {
  background-color: #f4f4f4;
  padding-bottom: 24px;
}

.discoverPageBackground {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}

.DiscoverPagePosts {
  width: 100%;
}

.createNewPost {
  background-color: #ff9921;
  height: 100%;
  width: 40%;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

.createNewPostForm {
  display: block;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
}

.createNewPostInput {
  background-color: white;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
}

.charCount {
  padding: 6px;
  text-align: end;
  font-size: 10px;
}

.createNewPostForm input,
.createNewPostForm textarea {
  width: calc(100% - 24px);
  color: black;
  background-color: white;
  border: none;
  padding: 6px 12px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 16px;
}

.createNewPostForm input::placeholder,
.createNewPostForm textarea::placeholder {
  color: #cbb9a3;
}

#inputTitle {
  font-size: 18px;
  font-weight: 400;
}

#inputBody {
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

#restaurantName {
  font-size: 16px;
  font-weight: 300;
}

.createNewPostForm button {
  float: right;
  color: #cbb9a3;
  background-color: white;
  font-size: 16px;
  border: none;
  padding: 6px 24px;
  border-radius: 24px;
  font-family: 'Open Sans', sans-serif;
}

.createNewPostForm button:hover {
  background-color: #ffe7ca;
}

.createNewPostForm .canPost {
  color: #ff9921;
}

#CancelCreateNewPost {
  margin-right: 12px;
}

#createNewPostButton {
  position: fixed;
  margin: 12px;
  background-color: #ff9921;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 40px;
  border-radius: 25px;
  color: white;
}

.DiscoverPageError {
  text-align: center;
}

.DiscoverPageError img {
  height: 450px;
  padding: 100px 0px;
}

.DiscoverPageError div {
  font-size: 24px;
  color: #adadad;
  font-family: 'Open Sans', sans-serif;
}
