/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.SearchRestaurantsForm {
  height: 50px;
  border-radius: 50px;
}

.searchZipCode {
  background: #fff;
  border: 0;
  display: inline-flex;
  height: 30px;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px 0 0 2.5%;
  border-radius: 50px;
  padding: 5px;
}

.searchZipCode input[type='text'] {
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 16px;
}

.searchZipCode input[type='text']::placeholder {
  color: #adadad;
}

.searchZipCode input[type='submit'] {
  background: url(../assets/SearchImgColored.png);
  background-size: contain;
  border: 0;
  display: block;
  height: 30px;
  width: 30px;
  margin-left: 12px;
  background-repeat: no-repeat;
}

.searchZipCode input[type='submit']:hover {
  cursor: pointer;
}

.MapPage {
  position: absolute;
  width: 100vw;
  height: calc(100% - 45px);
  font-family: 'Open Sans', sans-serif;
}

.searchResults ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 30%;
  padding: 0;
}

.searchResults ul li button {
  background-color: #f4f4f4;
  width: 100%;
  font-size: 22px;
  border-bottom: #ff9921 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 12px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.searchResults ul li button:hover {
  background-color: #ffe7ca;
  cursor: pointer;
}
