@import url("");

.Search{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(90deg, orange, white);
}

body {
    padding: 0;
    margin: 0;
}