@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/*CSS for Navigation Bar*/
.navigation {
  background-color: #ff9921;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding: 6px;
}

.selectedPage {
  color: #ffe7ca;
}

.navigation a {
  padding: 0px 12px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.navigation a:hover {
  padding: 0px 12px;
  text-decoration: none;
  color: #ffe7ca;
}

/* CSS for Posts */
.post {
  background-color: white;
  border-radius: 24px;
  width: 50%;
  margin: 24px auto;
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
}

.post:last-of-type {
  margin: 0px auto;
}

.post-user-info {
  display: inline-flex;
  padding: 12px;
}

.post-user-info img {
  width: 50px;

  height: 50px;
  overflow: hidden;
  border-radius: 25px;
}

.post-user-info div {
  height: 50px;
  line-height: 50px;
  padding-left: 12px;
  font-size: 18px;
}

.post-user-info div a,
.commentProfileInfo div a {
  text-decoration: none;
  color: black;
}

.post-user-info div a:hover,
.commentProfileInfo div a:hover {
  text-decoration: underline;
  color: #ffe7ca;
}

.postTitle {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 400;
}

.postText {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 300;
}

.postLikes {
  padding-left: 24px;
  display: inline-flex;
  padding-bottom: 12px;
}

.postLikes img,
.postLikes button img {
  height: 24px;
}

.postLikes img:hover,
.postlikes button img:hover {
  filter: invert(79%) sepia(59%) saturate(3778%) hue-rotate(341deg) brightness(100%) contrast(102%);
  cursor: pointer;
}

.unclicked {
  filter: invert(84%) sepia(13%) saturate(454%) hue-rotate(353deg) brightness(90%) contrast(85%);
}

.clicked {
  filter: invert(79%) sepia(59%) saturate(3778%) hue-rotate(341deg) brightness(100%) contrast(102%);
}

.postLikes button {
  height: 24px;
  background-color: white;
  border: none;
}

.postLikes div {
  height: 20px;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  padding-left: 6px;
}

.postDivider {
  background-color: #ff9921;
  width: 90%;
  margin: auto;
  height: 3px;
}

.comment {
  background-color: #f4f4f4;
  border-radius: 12px;
  width: 90%;
  margin: 12px auto;
  font-family: 'Open Sans', sans-serif;
  padding: 12px;
}

.comment .commentProfileInfo {
  display: inline-flex;
}

.comment .commentProfileInfo img {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 25px;
}

.comment .commentProfileInfo div {
  height: 30px;
  line-height: 30px;
  padding-left: 12px;
  font-size: 18px;
}

.createCommentForm {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 6px;
  margin-top: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border-radius: 12px;
}

.createCommentForm input {
  width: calc(100% - 40px - 6px);
  background-color: white;
  border: none;
}

.createCommentForm button {
  background-color: #ff9921;
  border: none;
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

.createCommentForm button img {
  width: 25px;
  height: 25px;
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(254deg) brightness(105%) contrast(101%);
}

.createCommentForm button:hover {
  background-color: #ffe7ca;
  cursor: pointer;
}

/* CSS For Pop Up Messages */
.popUpBackground {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 4;
}

.popup {
  position: absolute;
  background-color: white;
  z-index: 4;
  margin: auto;
  top: calc((100% - 200px - 40px) / 2);
  left: calc((100% - 500px - 40px) / 2);
  height: 200px;
  width: 500px;
  border-radius: 20px;
  text-align: center;
}

.popup .message {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.popup-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.popup-buttons .rightButton {
  width: 50%;
  height: 50px;
  border-bottom-right-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ff9921;
  color: white;
  border: none;
  font-size: 18px;
}

.popup-buttons .leftButton {
  width: 50%;
  height: 50px;
  border-bottom-left-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  font-size: 18px;
}

.popup-buttons .leftButton:hover {
  cursor: pointer;
  background-color: #ffe7ca;
  color: black;
}

.popup-buttons .rightButton:hover {
  cursor: pointer;
  background-color: #ffe7ca;
  color: black;
}

/* Root */
html,
body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
